# [Big Data 분석 기초] 3 분석계획 수립 - 220804

---

#### 데이터 확인하기

In [1]:
import pandas as pd

In [3]:
fit = pd.read_csv('/home/piai/minji/dataset/FITNESS.csv', encoding = 'euc-kr')

print(fit.shape)
fit.head()

(31, 10)

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,81.42,49.156,8.95,180,44,185

In [11]:
fit.describe().round(1)

        AGE  WEIGHT   OXY  RUNTIME  RUNPULSE  RSTPULSE  MAXPULSE
count  31.0    31.0  31.0     31.0      31.0      31.0      31.0
mean   46.8    77.4  47.4     10.6     169.6      53.5     173.8
std     5.9     8.3   5.3      1.4      10.3       7.6       9.2
min    37.0    59.1  37.4      8.2     146.0      40.0     155.0
25%    43.0    73.2  45.0      9.8     163.0      48.0     168.0
50%    48.0    77.4  46.8     10.5     170.0      52.0     172.0
75%    51.0    82.3  50.1     11.3     176.0      58.5     180.0
max    57.0    91.6  60.1     14.0     186.0      70.0     192.0

In [7]:
fit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      31 non-null     object
 1   GENDER    31 non-null     object
 2   AGE       31 non-null     int64
 3   AGEGROUP  31 non-null     object
 4   WEIGHT    31 non-null     float64
 5   OXY       31 non-null     float64
 6   RUNTIME   31 non-null     float64
 7   RUNPULSE  31 non-null     int64
 8   RSTPULSE  31 non-null     int64
 9   MAXPULSE  31 non-null     int64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.5+ KB

#### 성별에 따른 평균과 중앙값 확인

In [10]:
fit.groupby('GENDER').agg(["mean", "median"])

/tmp/ipykernel_18243/2942708526.py:1: FutureWarning: ['NAME', 'AGEGROUP'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  fit.groupby('GENDER').agg(["mean", "median"])

              AGE            WEIGHT               OXY            RUNTIME  \
             mean median       mean median       mean   median      mean
GENDER
남성      46.333333   45.0  82.282667  81.42  44.753733  45.3130  11.19400
여성      47.312500   48.5  72.908750  73.54  49.834000  48.2965  10.01625

              RUNPULSE          RSTPULSE        MAXPULSE
       median     mean median       mean median     mean median
GENDER
남성      10.95   172.20  174.0  55.733333   57.0  175.800  176.0
여성      10.04   167.25  168.0  51.312500   48.0  171.875  170.0

#### 연령대에 따른 평균과 중앙값 확인

In [16]:
fit.groupby('AGEGROUP').agg(["mean", "median"])

/tmp/ipykernel_18243/2438746525.py:1: FutureWarning: ['NAME', 'GENDER'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  fit.groupby('AGEGROUP').agg(["mean", "median"])

                AGE            WEIGHT               OXY             RUNTIME  \
               mean median       mean median       mean   median       mean
AGEGROUP
30대       38.166667   38.0  80.361667  79.66  48.866833  46.5740  10.333333
40대       45.714286   45.0  78.310000  80.17  47.848357  48.2965  10.584286
50대       53.000000   52.0  74.751818  73.71  45.961091  45.7900  10.726364

                    RUNPULSE          RSTPULSE           MAXPULSE
          median        mean median       mean median        mean median
AGEGROUP
30대       10.285  175.833333  176.0  57.666667   56.5  179.833333  180.0
40대       10.425  171.000000  169.0  52.857143   51.5  174.928571  174.0
50대       10.470  164.545455  166.0  51.909091   49.0  169.000000  170.0